body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  &_main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  &_sub {
    display: block;
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 15px;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
}
