
  h1,body,ul{
    margin: 0;
  }
  img{
      width:100%;
  }
header{
  background-color: #000;
  
}
.header-container{
  padding: 30px 20px 10px 20px;
  max-width: 1000px;
  margin: 0 auto;
  .logo{
      width: 300px;
  }
  
}
.nav-container{
  background: #000;
  ul{
    display: flex;
    justify-content: space-around;
    li{
        width: 300px;
        text-align: center;
        a{
            color: #fff;
            text-decoration: none;
            padding: 20px; 
            display:block;
            transition: .5s;
            &:hover{
                background-color: #ccc;
                transition: .5s;
            }
        }
    }
  }
}
.main-container{
    width: 100%;
}



